@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onmouseover="IncrementCount">Click me</button>

@code {
    class People
    {
        public string Name {get; private set;}
        public int Age {get; private set;} =0;
        
        public People (string name, int age) 
        {
            this.Name = name;
            this.Age = age;
        }
    }
    
    private People[] peeps = {new People("John Campbell", 25), new People ("Lambert Peck", 24), new People ("Elizabeth Snow", 41)};
    
    
    
    private int currentCount = 0;
    
    public double notSecretNumber = 24;

    private int sliderValue {get;set;}

    [Parameter]
    public int IncrementAmount {get; set;} = 1;
    
    private void IncrementCount()
    {
        currentCount+= IncrementAmount;
    }
}

@foreach (var person in peeps)
{
    <p>@person.Name</p>
}

<label for="points">Points (between 0 and 100):</label>
<input type="range" min=0 max=100 @bind="sliderValue" @bind:event="oninput">
<p> value = @sliderValue</p>