@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Current date is : @(DateTime.Now)</p>

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount=15 />